.about {
  @media screen and (max-width: 1199px) {
    display: none;
  }
  @media screen and (min-width: 1200px) {
    // padding-top: 94px;
    padding-bottom: 94px;
  }
}

.about-title {
  margin-bottom: 50px;
}
.about-list {
  display: flex;
  justify-content: space-between;
}

.about-list__item {
  position: relative;
}

.about-box {
  position: absolute;
  width: 370px;
  height: 70px;
  bottom: 0;
  background-color: rgba(47, 48, 58, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-box__title {
  @include font(14px, 1.14, null, 0.03em);
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}
