.benefits {
  padding-top: 94px;
}

.benefits-list {
  display: flex;
}

.benefits-list__item {
  margin-right: 30px;
}

.benefits-list__icon-box {
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background: #f5f4fa;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.benefits-list__top-text {
  @include font(14px, 1.14, null, 0.03em);
  text-transform: uppercase;
  color: var(--header-color);
  margin-bottom: 10px;
}

.benefits-list__text {
  @include font(14px, 1.71, null, 0.03em);
  max-width: 270px;
}
