.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-container {
  display: flex;
}

.logo-footer {
  color: #ffffff;
}

.footer-list {
  margin-top: 20px;
}

.footer-item {
  margin-bottom: 9px;
}

.footer-tel {
  @include font(14px, 1.71, null, 0.03em);
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
  transition: color var(--time-cubic);
  &:focus,
  &:hover {
    color: var(--accent-color);
  }
}

.footer-address {
  @include font(14px, 1.71, null, 0.03em);
  font-style: normal;
  color: #ffffff;
  transition: color var(--time-cubic);
  &:focus,
  &:hover {
    color: var(--accent-color);
  }
}

.footer-box {
  margin-left: 70px;
  margin-top: 12px;
  align-items: center;
}

.footer-box-title {
  @include font(14px, 1.14, null, 0.03em);
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.footer-soc-list {
  display: flex;
}

.footer-soc-item + .footer-soc-item {
  margin-left: 10px;
}

.footer-soc-link {
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color var(--time-cubic);
  &:focus,
  &:hover {
    background-color: var(--accent-color);
  }
}

.footer-soc-icon {
  fill: #ffffff;
}

.footer-email-label {
  margin-left: 93px;
  margin-top: 12px;
  display: block;
}

.footer-email-text {
  @include font(14px, 1.14, 700, 0.03em);
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.footer-email-input {
  width: 358px;
  height: 50px;
  padding: 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  box-sizing: border-box;
  color: var(--main-title-color);
  transition: border var(--time-cubic);
  &:hover {
    border: 1px solid var(--accent-color);
  }
}

.footer-email-button {
  @include font(16px, 1.88, 700, 0.06em);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  width: 200px;
  height: 50px;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
  transition: background var(--time-cubic);
  margin-top: 48px;
  margin-left: 10px;
  &:hover,
  &:focus {
    background: #188ce8;
  }
}

.footer-button-icon {
  margin-left: 10px;
}
