.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-container {
  @media screen and (min-width: 1200px) {
    display: flex;
  }
}
.footer-logo-container {
  @media screen and (min-width: 768px) {
    display: inline-block;
  }
}

.logo-footer {
  color: #ffffff;
}

.footer-logo {
  @media screen and(max-width: 1199px) {
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.03em;
  }
  @media screen and(max-width: 767px) {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  @media screen and (min-width: 768px) {
    margin-left: 100px;
  }
  @media screen and (min-width: 1200px) {
    margin-left: 0;
  }
}
.footer-list {
  margin-top: 20px;
  @media screen and(max-width: 1199px) {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 79px;
  }
  @media screen and (min-width: 768px) {
    margin-left: 61px;
  }
  @media screen and (min-width: 1200px) {
    margin-left: 0px;
  }
}

.footer-item {
  @media screen and(max-width: 1199px) {
    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }
  @media screen and (min-width: 1200px) {
    &:not(:last-child) {
      margin-bottom: 9px;
    }
  }
}

.footer-tel {
  @include font(14px, 1.71, null, 0.03em);
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
  transition: color var(--time-cubic);
  &:focus,
  &:hover {
    color: var(--accent-color);
  }
}

.footer-address-link {
  @include font(14px, 1.71, null, 0.03em);
  font-style: normal;
  color: #ffffff;
  transition: color var(--time-cubic);
  &:focus,
  &:hover {
    color: var(--accent-color);
  }
}

.footer-box {
  @media screen and(max-width: 767px) {
    margin-top: 60px;
  }
  @media screen and (min-width: 768px) {
    display: inline-block;
    margin-left: 165px;
    // margin: 65px 0 0 165px;
  }
  @media screen and (min-width: 1200px) {
    margin-left: 70px;
    margin-top: 15px;
  }
}

.footer-box-title {
  @include font(14px, 1.14, null, 0.03em);
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
  @media screen and(max-width: 1199px) {
    display: flex;
    justify-content: center;
  }
}

.footer-soc-list {
  display: flex;
  @media screen and(max-width: 767px) {
    align-items: center;
    justify-content: center;
  }
}

.footer-soc-item + .footer-soc-item {
  margin-left: 10px;
}

.footer-soc-link {
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color var(--time-cubic);
  &:focus,
  &:hover {
    background-color: var(--accent-color);
  }
}

.footer-soc-icon {
  fill: #ffffff;
}

.footer-form {
  @media screen and(max-width: 1199px) {
    margin-top: 60px;
  }
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
  }
}

.footer-email-label {
  @media screen and (min-width: 1200px) {
    margin-left: 93px;
    margin-top: 12px;
  }
}

.footer-email-text {
  @include font(14px, 1.14, 700, 0.03em);
  text-transform: uppercase;
  color: #ffffff;

  @media screen and(max-width: 1199px) {
    display: flex;
    align-content: center;
    justify-content: center;
  }
}

.footer-email-input {
  height: 50px;
  padding: 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  box-sizing: border-box;
  margin-top: 20px;
  color: var(--main-title-color);
  transition: border var(--time-cubic);
  &:hover {
    border: 1px solid var(--accent-color);
  }
  @media screen and (max-width: 767px) {
    width: 100%;
  }
  @media screen and (min-width: 768px) {
    width: 450px;
  }
  @media screen and (min-width: 1200px) {
    width: 358px;
  }
}

.footer-email-button {
  @include font(16px, 1.88, 700, 0.06em);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  width: 200px;
  height: 50px;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
  transition: background var(--time-cubic);
  @media screen and (max-width: 1199px) {
    margin: 20px auto 0px;
  }
  @media screen and (min-width: 1200px) {
    margin-top: 48px;
    margin-left: 12px;
  }

  &:hover,
  &:focus {
    background: #188ce8;
  }
}

.footer-button-icon {
  margin-left: 10px;
}
