.header {
  background-color: #fff;
  padding: 16px 0;
  @media screen and (min-width: 768px) {
    padding: 21px 0;
    border-bottom: 1px solid #ececec;
  }
  @media screen and (min-width: 1200px) {
    padding: 24px 0;
  }
}

.header-container {
  display: flex;
  align-items: center;
}

.navigation {
  align-items: center;
  display: flex;
}

.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  @media screen and (min-width: 1200px) {
    font-size: 26px;
    line-height: 1.19;
  }
}

.logo-accent {
  color: #212121;
}

.menu-top {
  display: none;
  @media screen and (min-width: 768px) {
    display: block;
  }
}

.mob-menu-btn {
  position: absolute;
  right: 10px;
  top: 5px;
  display: block;
  margin-left: auto;
  background-color: transparent;
  border-color: transparent;
  &:hover,
  :focus {
    fill: var(--accent-color);
  }
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.header-list {
  @media screen and (min-width: 768px) {
    margin-left: 93px;
  }
}

.menu-list {
  display: none;
  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.menu-list__item:not(:last-child) {
  margin-right: 50px;
}

.menu-list__link {
  position: relative;
  @include font(14px, 1.14, 500, 0.02em);
  color: var(--header-color);
  transition: color var(--time-cubic);
  padding: 34px 0;
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
  @media screen and (min-width: 1200px) {
    padding: 30px 0;
  }
}

.connect {
  display: none;
  @media screen and (min-width: 768px) {
    margin-left: auto;
    display: flex;
  }
  @media screen and (max-width: 1199px) {
    flex-direction: column;
  }
}

.current {
  color: var(--accent-color);
  &::after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 4px;
    bottom: 0;
    background-color: var(--accent-color);
    border-radius: 2px;
  }
}

.connect__mail {
  display: block;
  @media screen and (max-width: 1199px) {
    margin-bottom: 10px;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 50px;
  }
}

.connect__tel {
  @include font(12px, 1.17, 500, 0.02em);
  color: #757575;
  transition: color var(--time-cubic);
  &:focus,
  &:hover {
    color: var(--accent-color);
  }
  @media screen and (min-width: 1200px) {
    @include font(14px, 1.14, null, null);
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.connect__icon {
  margin-right: 10px;
  fill: currentColor;
  transition: fill var(--time-cubic);
  .header-tel:focus,
  .header-tel:hover & {
    fill: var(--accent-color);
    width: 16px;
    height: 12px;
  }
}

.icon-mail {
  @media screen and (min-width: 1200px) {
    width: 16px;
    height: 12px;
  }
}

.icon-tel {
  @media screen and (min-width: 1200px) {
    height: 16px;
  }
}

.mob-menu {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
  overflow-y: auto;
  transform: translateY(-100%);
  transition: transform var(--time-cubic);
  &.is-open {
    transform: translateY(0);
  }
  .container {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    padding-top: 48px;
    padding-bottom: 48px;
  }
}

.mob-close-btn {
  position: absolute;
  padding-top: 10px;
  right: 0;
  background-color: transparent;
  border-color: transparent;
  &:hover,
  :focus {
    fill: var(--accent-color);
  }
}

.mob-menu-list {
  padding: 0px 40px;
  @media screen and (max-width: 479px) {
    padding: 0;
  }
}

.mob-menu-list__item {
  &:not(:last-child) {
    margin-bottom: 32px;
  }
}

.mob-menu-list__link {
  @include font(40px, 1.18, 500, 0.02em);
  color: #212121;
}

.mob-current {
  color: var(--accent-color);
}

.mob-conteiner-bottom {
  margin-left: 40px;
  margin-top: 48px;
  @media screen and (max-width: 479px) {
    margin-left: 0;
  }
}

.mob-connect {
  margin-bottom: 64px;
}

.mob-connect__tel {
  @media screen and (max-width: 350px) {
    font-size: 9vw;
  }
  @include font(34px, 1.18, 500, 0.02em);
  color: #2196f3;
  margin-bottom: 32px;
  display: inline-block;
}

.mob-connect__mail {
  @include font(24px, 1.17, 500, 0.02em);
  color: #757575;
  display: block;
}

.mob-soc-list {
  display: flex;
}

.mob-soc-item {
  display: flex;
  align-items: center;
}

.mob-soc-item:nth-child(-n + 3)::after {
  content: "";
  width: 22px;
  height: 0px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  transform: rotate(90deg);
}

.mob-soc-link {
  @media screen and (max-width: 479px) {
    font-size: 4vw;
  }
  @include font(18px, 1.22, 500, 0.02em);
  color: #2196f3;
  display: block;
}

.no-scroll {
  overflow: hidden;
}
