.top-title {
  @include font(33px, 1.18, null, 0.03em);
  text-align: center;
  color: var(--header-color);
  margin-bottom: 30px;
  @media screen and (min-width: 1200px) {
    @include font(36px, 1.16, null, null);
    margin-bottom: 50px;
  }
}
